body{
    background-color: wheat;
    font-family: Georgia;
    

}
p{
    color: red;
    text-align: center;
    line-height: 30px;
    
}
h1{
    text-align: center;
   
}
h3{
    color: black;
    text-align: center;
}
h4{
    text-align: center;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: white;
    font-family: bluevoliet;
}
textarea{
    color: #000;
    
}
.a::selection{
    color: blue;
}
span{
    text-decoration: underline;
    color: white;
}

p::selection{
    color: white;
}