*{
    font-family: 'Courier New';
}
h1{
    color: #1b74e4;
}
.userbtn{
    
    background-color: aqua;
}
#searchbtn{
    background-color: black;
    color: white;
}
h3 + a{
    color: rgb(90, 1, 56);
    background-color: red;
    text-decoration-style: dashed;
}