.red{
  color: red;
}
.blue{
  color: blue;
}
.box{
   border: 1px solid black;
   background-color: pink;
}
/* body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}
.incre{
  background-color: black;
  color: white;
  border-radius: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 4rem;
}
.underLiine{
  background-color: aqua;
  text-decoration: underline purple;
  font-size: 0.3rem;
}
 */
